In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,recall_score,f1_score
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("C:\\Users\\nitin\\OneDrive\\Desktop\\DM_prac\\2010-capitalbikeshare-tripdata.csv")

In [3]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [4]:
df.describe()

            Duration  Start station number  End station number
count  115597.000000         115597.000000       115597.000000
mean     1254.649956          31266.213431        31268.042250
std      2914.317998            187.645048          186.194316
min        60.000000          31000.000000        31000.000000
25%       403.000000          31110.000000        31111.000000
50%       665.000000          31213.000000        31214.000000
75%      1120.000000          31301.000000        31238.000000
max     85644.000000          31805.000000        31805.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Duration              115597 non-null  int64
 1   Start date            115597 non-null  object
 2   End date              115597 non-null  object
 3   Start station number  115597 non-null  int64
 4   Start station         115597 non-null  object
 5   End station number    115597 non-null  int64
 6   End station           115597 non-null  object
 7   Bike number           115597 non-null  object
 8   Member type           115597 non-null  object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [6]:
df.shape

(115597, 9)

In [9]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [37]:
le=LabelEncoder()
df['user_class']=le.fit_transform(df['Member type'])

In [39]:
df.head()

   Duration  Start station number  End station number Member type  user_class
0      1012                 31208               31108      Member           1
1        61                 31209               31209      Member           1
2      2690                 31600               31100      Member           1
3      1406                 31600               31602      Member           1
4      1413                 31100               31201      Member           1

In [40]:
df.tail()

,Duration,Start station number,End station number,Member type,user_class
115592,2179,31110,31623,Casual,0
115593,953,31106,31401,Member,1
115594,737,31602,31401,Member,1
115595,514,31111,31202,Member,1
115596,51962,31111,31111,Casual,0

In [43]:
df=df.drop(['Member type'],axis=1)

In [44]:
x=df.drop(['user_class'],axis=1)
y=df['user_class']

In [45]:
sc=StandardScaler()
x_sc=sc.fit_transform(x)

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x_sc,y,test_size=0.2,random_state=42)

In [48]:
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [50]:
y_pred=lr.predict(x_test)

In [57]:
print("Accuracy: ",accuracy_score(y_test,y_pred))
print("Recall: ",recall_score(y_test,y_pred,average='weighted'))
print("f1: ",f1_score(y_test,y_pred,average='weighted'))

Accuracy:  0.8529411764705882
Recall:  0.8529411764705882
f1:  0.8256591821524935

In [61]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
print("Random Forest Evaluation:")

Random Forest Evaluation:

In [63]:
y_pred=rf.predict(x_test)

In [64]:
print("Accuracy: ",accuracy_score(y_test,y_pred))
print("Recall: ",recall_score(y_test,y_pred,average='weighted'))
print("f1: ",f1_score(y_test,y_pred,average='weighted'))

Accuracy:  0.8511678200692041
Recall:  0.8511678200692041
f1:  0.8461096621167844